<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

              <div class="page-content">
                  <div class="container-fluid">

                      <!-- start page title -->
                      <router-outlet></router-outlet>
                      <app-footer></app-footer>



                  </div> <!-- container-fluid -->
              </div>
                <!-- End Page-content -->
            </div>
            <!-- end main content-->
            <lib-ng-toast></lib-ng-toast>
