
<div class="row">
  <div class="col-lg-12">
   <div id="addproduct-accordion" class="custom-accordion">
       <div class="card">

           <form #editMenuForm="ngForm" >
               <div id="addproduct-billinginfo-collapse" class="collapse show" data-bs-parent="#addproduct-accordion">
                   <div class="p-4 border-top">
                           <div class="mb-3">
                               <label class="form-label" for="productname">Nom du menu</label>
                               <input name="nom" type="text" class="form-control" [(ngModel)]="nom"  required  >
                           </div>
                           <div class="row">

                               <div class="col-lg-4">

                                   <div class="mb-3">
                                       <label class="form-label">Image</label>
                                       <input type="file" class="form-control"  name="image"/>
                                   </div>
                               </div>

                               <div class="col-lg-4">

                                   <div class="mb-3">
                                           <label class="form-label" for="price">Prix</label>
                                           <input type="number" name="prix"  class="form-control" readonly [(ngModel)]="prix" required>

                                   </div>
                               </div>

                               <div class="col-lg-2">
                                   <div class="mb-3">
                                       <label class="form-label" >Temps cuisson</label>
                                       <input  name="time" type="time" class="form-control" readonly [(ngModel)]="time" required>
                                   </div>
                               </div>
                               <div class="col-lg-2">
                                   <div class="mb-3">
                                       <label class="form-label">Etat</label>

                                           <select class="form-select" name="etat" [(ngModel)]="etat" required (change)="onSelectEtat($event)">
                                                   <option value="0">Active</option>
                                                   <option value="1">Archiver</option>
                                           </select>

                                   </div>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col-md-6">
                                   <div class="mb-3">
                                       <label class="form-label" class="control-label">Burger</label>
                                       <select class="form-control select2" Required name="burger" [(ngModel)]="burger" required>
                                           <option>Select</option>
                                          <option *ngFor="let burger of burgers" [ngValue]="burger" (click)="clickedOptionBurger()" >{{burger.name}}</option>

                                       </select>
                                   </div>
                               </div>
                               <div class="col-md-6">
                                   <div class="mb-3">
                                       <label class="form-label" class="control-label">Complements</label>

                                           <select class="select2 form-control select2-multiple" multiple="multiple" name="complementsSelect[]"  [(ngModel)]="complementsSelect" required>

                                            <option *ngFor="let complement of complements" [ngValue]="complement" (click)="clickedOptionComplement()"  >{{complement.name}}</option>

                                           </select>
                                   </div>
                               </div>

                           </div>

                           <div class="mb-0">
                               <label class="form-label" for="productdesc">Product Description</label>
                               <textarea class="form-control" id="productdesc" rows="4" name="description" [(ngModel)]="description"></textarea>
                           </div>

                   </div>
               </div>
               <div class="row mb-4">
                   <div class="col text-end">
                       <button type="button" [disabled]="! editMenuForm.form.valid" (click)="editMenu()" class="btn btn-success"> <i class="uil uil-file-alt me-1"></i> Sauvegarder </button>
                       <button  type="button" class="btn btn-danger"> <i class="uil uil-times me-1"></i> Cancel </button>

                   </div> <!-- end col -->
               </div> <!-- end row-->
           </form>
       </div>
   </div>
  </div>
  </div>
  <!-- end row -->



                     <!-- select 2 plugin -->
