<div class="row">


  <div class="col-xl-12 col-lg-8">
      <div >
          <a  [routerLink]="['/menus/add/']"  class="btn btn-success">Ajouter nouveau  Menu </a>
      </div>
      <div class="card mt-2">
          <div class="card-body">
              <div>
                  <div class="row">

                      <div class="col-md-6">
                          <div>
                              <h5>Nos Menus</h5>

                          </div>
                      </div>

                      <div class="col-md-6">
                          <div class="form-inline float-md-end">
                              <div class="search-box ms-2">
                                  <div class="position-relative">
                                      <input type="text" class="form-control bg-light border-light rounded" placeholder="Search...">
                                      <i class="mdi mdi-magnify search-icon"></i>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>




                  <div class="row">

                      <div *ngFor="let menu of menus" class="col-xl-3 col-sm-6">
                          <div class="product-box">
                              <div class="product-img pt-4 px-4">

                                      <div class="product-ribbon badge bg-success">
                                          Activer
                                      </div>

                                  <div class="product-wishlist">
                                          <a routerLink="edit/{{menu.id}}">
                                              <i class="mdi mdi-tools"></i>
                                          </a>
                                          <a href="#">
                                              <i class="mdi mdi-backspace-reverse-outline"></i>
                                          </a>
                                      </div>
                                      <img src="http://localhost:5000/{{menu?.image}}" alt="" class="img-fluid mx-auto d-block">
                                  </div>

                                  <div class="text-center product-content p-4">
                                      <h5 class="mb-1"><a href="#" class="text-dark">{{menu.name}}</a></h5>
                                      <h5 class="mt-3 mb-0"><span class="text-muted me-2"></span> {{menu.price}} CFA</h5>
                                  </div>
                              </div>
                      </div>

                  </div>
                      <!-- end row -->

                      <div class="row mt-4">
                          <div class="col-sm-6">
                              <div>
                                  <p class="mb-sm-0">Page 2 of 84</p>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="float-sm-end">
                                  <ul class="pagination pagination-rounded mb-sm-0">
                                      <li class="page-item disabled">
                                          <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                                      </li>
                                      <li class="page-item">
                                          <a href="# active" class="page-link">1</a>
                                      </li>
                                      <li class="page-item ">
                                          <a href="#" class="page-link">2</a>
                                      </li>
                                      <li class="page-item">
                                          <a href="#" class="page-link">3</a>
                                      </li>
                                      <li class="page-item">
                                          <a href="#" class="page-link">4</a>
                                      </li>
                                      <li class="page-item">
                                          <a href="#" class="page-link">5</a>
                                      </li>
                                      <li class="page-item">
                                          <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <!-- end row -->
